# Get Started!
<hr>

## Jupyter Notebook Basics
Jupyter Notebook is an interactive computational environment that allows you to write and run code, and combine it with explanatory text and visualizations. In this notebook, we will walk you through the basics of how to use Jupyter Notebook to write and run code.

The notebook is divided into cells, which can contain either code or text. To add a new cell, click on the "+" button on the toolbar. To change the cell type from code to text, click on the cell and select "Markdown" from the dropdown menu in the toolbar.

To run a code cell, click on the cell and press "Shift + Enter". The output of the code will be displayed below the cell. To edit a cell, simply click on it and start typing.

## Starting Python
You may need to point the notebook to the right version of python. To do this, simply look at the top right corner of the notebook. You should see a dropdown menu that says "Kernel". Click on this menu, and you'll see a list of available kernels, choose the Python one.

Once you've selected the appropriate kernel, you're ready to start writing and running your code in Jupyter Notebook!

## Python introduction 

Before showing some features of the FloodModeller API, if you aren't too familiar with programing languages or python feel free to work through the following section to familiarise yourself!



### Printing and operations

One of the most important and straightforward tasks you can perform is a **print statement**.

Below is a cell you can run which will print the text within the parenthese and enclosed in quotation marks. Text is refered to as a  <ins>**"string"**</ins> in python and is defined by the quotation marks at it's beginning and end.
Try running it by clicking on the cell and pressing **"Shift + Enter"** or by pressing the play button on the top left corner of the cell. You will see the text   ` Hello, world!` printed below the code cell as an output.

In [28]:
# First print statement
print("Hello, world!")

Hello, world!

We can print strings of text but also we can print the result of arithmetic operations!
Notice the difference between `print(1+3)` and `print("1+3")` by running the cells below.

In [29]:
# Print the result of the opporation
print(1+3)

4

In [30]:
# Print the text in quotation marks
print("1+3")

1+3

As you can see, the first cell prints returns `4` as it recognises 1 and 3 as <ins>**integers**</ins> and + as an opperation symbol. When quotation marks are used, the content of the print statement is recognised as a string and is printed as is; `1+3`

The following table shows some examples of common opporations you may wish to perform: 

| Operation      | Symbol | Example    |
|----------------|--------|------------|
| Addition       | +      | 1 + 2 = 3  |
| Subtraction    | -      | 5 - 4 = 1  |
| Multiplication | *      | 2 * 4 = 8  |
| Division       | /      | 6 / 3 = 2  |
| Exponent       | **     | 3 ** 2 = 9 |

Note that Python follows order of operation of parenthesis, exponents, multiply or divide, addition and substraction (PEDMAS)

### Comments

You will notice comments throughout code. These are annotations of the code to help the user understand what it does which are preceded by the pound sign (#). As complexity of code increases, annotation becomes more important not only for others, but also for yourself to remember and understand what your code does. 

* Try running the cell below, you will notice an error message will pop up. Now try running it again but add in the pound sign (#) **before** the first line of text so it looks like this:
`# Multiply 3 by 2`. 
This will comment out the first line indicating that the line is to be ignored by the computer.

In [32]:
 Multiply 3*2 

print(3*2)

SyntaxError: invalid syntax (1395938231.py, line 1)

### Variables and comparisons

So far we have ran some arithmetic operations, used print statement, looked into comments and had used either **<ins>string**</ins> or **<ins>integer**</ins> data types. Let's now look into variables and comparisons.

A variable is used to save data so we can use it again later. Let's see an example below where we have two variables which represents the size of your rectangular room in meters; `length` and `width`. Make sure you run the cell below so length and width are created as 3 and 4 respectively.

In [33]:
# create variables length and width with assigned values
length = 3
width = 4

print("You've just created your first two variables!")

You've just created your first two variables!

When creating a variable, choose a short and descriptive name and use `=` to asign the value to the variable name. Note that variable names:
* Can't have spaces (e.g., `new area` is not allowed)
* Must start with either a letter or underscore (e.g., `1_length` is not allowed)
* Can be composed only of letters, numbers and underscores (e.g., `length!` is not allowed)


After assigning the values to length and width, lets calculate the area of our room by multiplying our our two variables and saving the answer as a new variable `area`. We can check the value of `Area` by calling print on it.

In [34]:
# Calculate area
area = length * width 

print(area)

12

You're moving house and you want a bigger room! Your new room is square and has a side of 4m so lets create a new variable `side` to represent this and then save your new rooms area as `new_area`

In [35]:
# new room side
side = 4

# new room area
new_area = side ** 2

print(new_area)

16

The following table contains the 8 comparison operations available in Python. Please note that if you wish to check if two values are the same, use `==` not `=` as a single equals. e.g.: 
* `a == 1` will check if a is equal to 1  
* `a = 1` will set the value of a to 1 

| Operation | Meaning                 |
|-----------|-------------------------|
| <         | strictly less than      |
| <=        | less than or equal      |
| >         | strictly greater than   |
| >=        | greater than or equal   |
| ==        | equal                   |
| !=        | not equal               |
| is        | object identity         |
| is not    | negated object identity |

Let's see if our new room is larger than our original room.

In [42]:
print(new_area > area) 
print(type(new_area > area)) # prints the data type

False
<class 'bool'>

Notice how comparing `new_area` to `area` retuns "True" as your new room is indeed larger than your previous area. This is a new data type (like string and integer) called a <ins>**Boolean**</ins>. Booleans can only ever be `True` or `False` and are spelt with the first letter capitalised. The following table outlines the various boolean operations.


| Operation | Result                               |
|-----------|--------------------------------------|
| x or y    | if x is true, then x, else y         |
| x and y   | if x is false, then x, else y        |
| not x     | if x is false, then True, else False |

 

When you assign a new value to the same variable, the old value is overwritten so be sure you don't need the old variable before overwriting it or name the variable something new.

Turns out you made an error measuring your current room and the length is in fact 3.2 meters and the width is 5m.

* Have a go in the cell below at reassigning the new values for width and length, calculating the real area of your room and then comparing this with the sixe of the room in your new house.

In [40]:
# Reassign values for length and width 
length = 
width = 

# Calculate the area
area = length * width 

# Compare old and new area 
new_area > area

False

If you've reassigned the values correctly to 3.2 and 5m, the comparison should output `False`. This is because both `area` and `new_area` are 16 square meters and `new_area` is not **strickly greater** than area. 
* Looking at the comparison table can you figure out how to add in one character to the cell above and make the comparison True?

One final thing! So far we've seen string, integer and boolean data types. When we updated the value of length to a decimal number (3.2) we created a **<ins>float**</ins> which is a numerical value with decimal places. In the following cell you can see that although `area` and `new_area` are both equal to 16, if you print `area` you will notice that it displays to one decimal place. By checking the type we see that `area` and `new_area` are respectively a float and an interger and if we use the `==` to check if these values are equal we notice that indeed they are (despite being different numerical types).

In [45]:
print(area)
print(new_area)
print(type(area))
print(type(new_area))
print(area == new_area)

16.0
16
<class 'float'>
<class 'int'>
True

# Run some code!

This cell imports the pandas library as 'pd' and loads a csv file into a DataFrame.

In [10]:
import pandas as pd
network = pd.read_csv("data/network.csv")

This cell previews the top 6 rows of the table

In [11]:
network.head()

,Node Label,Max Flow,Max Stage,Max Froude,Max Velocity,Max Mode,Max State
0,resin,7.296,70.543,0.008,0.041,66.00,0
1,CS26,1.000,70.031,0.037,0.112,67.92,0
2,CS25,1.011,70.031,0.035,0.108,67.88,0
3,RD25Sd,0.000,69.081,0.000,0.000,70.70,0
4,CS24,1.021,70.031,0.033,0.103,67.84,0

# Loading the Floodmodeller API

Lets load a DAT file using the flood modeller API.

In [12]:
from floodmodeller_api import DAT

In [13]:
ex3_dat = DAT("data/EX3.DAT")
ex3_dat #Look at dat