# Get Started!
<hr>

## Jupyter Notebook Basics
Jupyter Notebook is an interactive computational environment that allows you to write and run code, and combine it with explanatory text and visualizations. In this notebook, we will walk you through the basics of how to use Jupyter Notebook to write and run code.

The notebook is divided into cells, which can contain either code or text. To add a new cell, click on the "+" button on the toolbar. To change the cell type from code to text, click on the cell and select "Markdown" from the dropdown menu in the toolbar.

To run a code cell, click on the cell and press "Shift + Enter". The output of the code will be displayed below the cell. To edit a cell, simply click on it and start typing.

## Starting Python
You may need to point the notebook to the right version of python. To do this, simply look at the top right corner of the notebook. You should see a dropdown menu that says "Kernel". Click on this menu, and you'll see a list of available kernels, choose the Python one.

Once you've selected the appropriate kernel, you're ready to start writing and running your code in Jupyter Notebook!

## Python introduction 

Before showing some features of the FloodModeller API, if you aren't too familiar with programing languages or python feel free to work through the following section to familiarise yourself.  

We will only cover the very basics to get you started with the Flood Modeller API. If you wish to learn more about python, there are many other free (and paid) courses online to teach you, we recommend the W3school tutorial available at: https://www.w3schools.com/python/default.asp    


Throughout this notebook you will find more specific links to support your learning and go more in depth on certain subjects if you wish for further your learning.

### Printing and operations

One of the most important and straightforward tasks you can perform is a **print statement**.

For Python to recognise text it is defined by being held inside quotation marks. This is called a <ins>**"string"**</ins> in python and is a data type. We will see other types of data later in the notebook.  

Below is a cell you can run which will print the text within the parenthese and enclosed in quotation marks. 
* Try running it by clicking on the cell and pressing **"Shift + Enter"** or by pressing the play button on the top left corner of the cell. You will see the text   ` Hello, world!` printed below the code cell as an output.

In [ ]:
# First print statement
print("Hello, world!")

* Let's check that python recognises `Hello, world!` as a string by calling type() on it.

In [ ]:
# Check that type is 'str' 
print(type("Hello, world!"))

We can print strings of text but also we can print the result of arithmetic operations!
Notice the difference between `print(1+3)` and `print("1+3")` by running the cells below.

In [ ]:
# Print the result of the opporation
print(1+3)

In [ ]:
# Print the text in quotation marks
print("1+3")

As you can see, the first cell prints returns `4` as it recognises 1 and 3 as <ins>**integers**</ins> and + as an opperation symbol. When quotation marks are used, the content of the print statement is recognised as a string and is printed as is; `1+3`

The following table shows some examples of common arithmetic operations you may wish to perform: 

| Operation      | Symbol | Example    |
|----------------|--------|------------|
| Addition       | +      | 1 + 2 = 3  |
| Subtraction    | -      | 5 - 4 = 1  |
| Multiplication | *      | 2 * 4 = 8  |
| Division       | /      | 6 / 3 = 2  |
| Exponent       | **     | 3 ** 2 = 9 |

Note that Python follows order of operation of parenthesis, exponents, multiply or divide, addition and substraction (PEDMAS)

To learn more about print() visit: https://www.w3schools.com/python/ref_func_print.asp   
To learn more about type() visit: https://www.w3schools.com/python/ref_func_type.asp   
To learn more about strings visit: https://www.w3schools.com/python/python_strings.asp    
To learn more about integers and numbers visit: https://www.w3schools.com/python/python_numbers.asp    
To learn more about arithmetic operators visit: https://www.w3schools.com/python/python_operators.asp

### Comments

You will notice comments throughout code. These are annotations of the code to help the user understand what it does which are preceded by the pound sign (#).   
As complexity of code increases, annotation becomes more important not only for others, but also for yourself to remember and understand what your code does. 

* Try running the cell below, you will notice an error message will pop up.  

* Now try running it again but add in the pound sign (#) **before** the first line of text so it looks like this: `# Multiply 3 by 2`.  
This will comment out the first line indicating that the line is to be ignored by the computer.

In [ ]:
# Have a go!
 Multiply 3*2 

print(3*2)

To learn more about comments visit: https://www.w3schools.com/python/python_comments.asp    
To learn more about python syntax visit: https://www.w3schools.com/python/python_syntax.asp

### Variables and comparisons

So far we have ran some arithmetic operations, used print statement, looked into comments and have used either **<ins>string**</ins> or **<ins>integer**</ins> data types. Let's now look into variables and comparisons.

A variable is used to save data so we can use it again later. Let's see an example below where we have two variables which represents the size of your rectangular room in meters; `length` and `width`. Make sure you run the cell below so length and width are created as 3 and 4 respectively.  

Notice how we've used a comma to split our print statement. To learn more about this go to:

In [ ]:
# Create variables length and width with assigned values
length = 3
width = 4

print("You've just created your first two variables! Width: ", width, "and legth: ", length)

When creating a variable, choose a short and descriptive name and use `=` to asign the value to the variable name. Note that variable names:
* Can't have spaces (e.g., `new area` is not allowed)
* Must start with either a letter or underscore (e.g., `1_length` is not allowed)
* Can be composed **only** of letters, numbers and underscores (e.g., `length!` is not allowed)


After assigning the values to length and width, lets calculate the area of our room by multiplying our our two variables and saving the answer as a new variable `area`. We can check the value of `Area` by calling print on it.

In [ ]:
# Calculate area
area = length * width 

print(area)

You're moving house and you want a bigger room! Your new room is square and has a side of 4m so lets create a new variable `side` to represent this and then save your new rooms area as `new_area`

In [ ]:
# New room side
side = 4

# New room area
new_area = side ** 2

print(new_area)

The following table contains the 8 comparison operations available in Python. Please note that if you wish to check if two values are the same, use `==` not `=` as a single equals. e.g.: 
* `a == 1` will check if a is equal to 1  
* `a = 1` will set the value of a to 1 

| Operation | Meaning                 |
|-----------|-------------------------|
| <         | strictly less than      |
| <=        | less than or equal      |
| >         | strictly greater than   |
| >=        | greater than or equal   |
| ==        | equal                   |
| !=        | not equal               |
| is        | object identity         |
| is not    | negated object identity |

Let's see if our new room is larger than our original room.

In [ ]:
# Compare the area of the new room and old room
print(new_area > area) 

print(type(new_area > area)) # prints the data type

Notice how comparing `new_area` to `area` retuns "True" as your new room is indeed larger than your previous area. This is a new data type (like string and integer) called a <ins>**Boolean**</ins>.  
<ins>**Booleans**</ins> can only ever be `True` or `False` and are spelt with the first letter capitalised. The following table outlines the various boolean operations.


| Operation | Result                               |
|-----------|--------------------------------------|
| x or y    | if x is true, then x, else y         |
| x and y   | if x is false, then x, else y        |
| not x     | if x is false, then True, else False |

When you assign a new value to the same variable, the old value is overwritten so be sure you don't need the old variable before overwriting it. Or you can name the variable something new.

Turns out you made an error measuring your current room and the length is in fact 3.2 meters and the width is 5m.

* Have a go in the cell below at reassigning the new values for width and length, calculating the real area of your room and then comparing this with the size of the room in your new house.

In [ ]:
# Have a go here! 
# Reassign values for length and width 
length = 
width = 

# Calculate the area
area = length * width 

# Compare old and new area 
new_area > area

If you've reassigned the values correctly to 3.2 and 5m, the comparison should output `False`. This is because both `area` and `new_area` are 16 square meters and `new_area` is not **strickly greater** than area. 
* Looking at the comparison operators table can you figure out how to add in one character to the cell above and make the comparison True?

To learn more about variables visit: https://www.w3schools.com/python/python_variables.asp   
To learn more about comparison and logical operators visit: https://www.w3schools.com/python/python_operators.asp

### Data types

So far we've seen string, integer and boolean data types. When we updated the value of length to a decimal number (3.2) we created a **<ins>float**</ins> which is a numerical value with decimal places. In the following cell you can see that although `area` and `new_area` are both equal to 16, if you print `area` you will notice that it displays to one decimal place.  

By checking the type we see that `area` and `new_area` are respectively a float and an interger and if we use the `==` to check if these values are equal we notice that indeed they are (despite being different numerical types).

In [ ]:
# Print the area values, check their data types and compare the values

print(area)
print(new_area)

print(type(area))
print(type(new_area))

print(area == new_area)

To learn more about data types visit: https://www.w3schools.com/python/python_datatypes.asp

### Lists and loops

Now we have the basics covered lets look into creating a list and looping through it! 

Lists are used to store multiple items of a single variable and are saved with the same naming convention and a single equals sign followed by the content of the list in square brackets with items seperated by a comma. e.g., `list = [ item1, item2, item 3]`  

Lists can be made up of any data type or a mix of data types. `list_02 = ["string", 1.05, True, 3]` is a list with a string, a float, a boolean and an integer.  

You can access items in a list by referering to their index which starts at 0 so "string" can be called through `list_02[0]`

Run the next cell to create a list with 5 floats, then print "first item: " followed by the first item in our list. Notice how we've used a comma to split some text we're printing before the item in our list.

In [ ]:
# Create a list called my_list containing floats 
my_list = [0.5, 1.2, 2.4, 3.6, 2.9]

print("first item: " , my_list[0])

* Have a go at calling an index value of -1. This will return the final item in the list! 
* What happens if you call a value outside of the index such as 9? How about when you call -6? (delete this line or comment it out with a # after testing this)
* Look at slicing a list by calling `my_list[0:3]` - This will print the first three items of the list. Remember that the first item in a list is `0`

In [ ]:
# Have a go here! 
# Call -1 on my_list

# Call a value outside of index. Then, comment it out with a # so the computer knows to ignore this.

# Slice my_list to print just the first three items

Let's now print each item in the list by calling its index.

In [ ]:
print("first item: " , my_list[0])
print("second item: " , my_list[1])
print("third item: " , my_list[2])
print("fourth item: " , my_list[3])
print("fifth item: " , my_list[4])

That was repetitive! You may be tempted to copy and paste the same line over and over again whilst updating the text and number to print each item but imagine if the list contained hundreds of items! This will be very boring, tedious and frustrating. It's also very likely that you'll eventually make mistakes too!     

Lets look at looping so we can then execute a block of code repeatedly in less lines of code.  

In the cell below, we first create our list, `other_list` containing the string we will print before each item in `my_list`. We then loop through each item `i` which will be equal to 0 then 1, then 2 etc unitl the end of `my_list`.

In [ ]:
# Create other list 
other_list = ["first item: ", "second item: ", "third item: " , "fourth item: ", "fifth item: "]

for i in range(len(my_list)):
    print(other_list[i] , my_list[i])

To learn more about for loops visit: https://www.w3schools.com/python/python_for_loops.asp   
To learn more about lists visit: https://www.w3schools.com/python/python_lists.asp    

We have not mentioned them here but another form of looping is while loops.  
Find out more by visiting: https://www.w3schools.com/python/python_while_loops.asp

### Modules and classes

So far we have only used the in-built python functions but there are thousands of libraries which we can use for all sorts of tasks! `pandas` is one such library which is a popular for data manipulation and analysis with structured data such as csv files (a single sheet in excel). We can also assign a nickname to the library to use as shorthand when calling it such as `pd` for pandas.

This cell imports the pandas library as 'pd' and loads a csv file into a DataFrame.

In [ ]:
import pandas as pd
network = pd.read_csv("data/network.csv")

If you wish to only use a specific class within your module, you can import this specifically using the format `from` Module `import` Class.   

A similar module is geopandas which allows you to work with geospatial data, such as shapefiles, in a similar structure to pandas. 
Other popular Python geospatial libraries are Shapely, Fiona, and PyProj.

To learn more about modules visit: https://www.w3schools.com/python/python_modules.asp    
To learn more about classes visit: https://www.w3schools.com/python/python_classes.asp   
To learn more about pandas visit: https://www.w3schools.com/python/pandas/default.asp    
To learn more about geopandas visit: https://geopandas.org/en/stable/getting_started/introduction.html

## Floodmodeller API
 
It's essential to have some basic understanding of python pragramming to use the API however a lot of capabilities are unlocked with just a fundamental understanding of python.   
Let's load in the latest version (v 0.4.1) of floodmodeller-api and check we have the most up to date version.  
* Run the cell below with **"Shift + Enter"** and check which version of the API we have loaded.

In [ ]:
import floodmodeller_api
print(floodmodeller_api.__version__)

For more of an overview of the API please visit: https://api.floodmodeller.com/api/getting_started/overview.html

### Dat Class

The API is broken down into various classes;  `DAT`, `IEF`, `IED`, `XML2D`, `ZZN`, `INP`, `LF1` or `LF2`.  

Let's import in the `DAT` class then we will read and load the "EX3.DAT" file as a variable.

In [26]:
from floodmodeller_api import DAT

ex3_dat = DAT("data/EX3.DAT")
ex3_dat #Look at dat

Let's look at the general parameters inside the dat file.  
Only change these parameters if you are absolutely certain you are able to change these - node count for example should be treated as read only.

In [2]:
ex3_dat.general_parameters

{'Node Count': 40,
 'Lower Froude': 0.75,
 'Upper Froude': 0.9,
 'Min Depth': 0.1,
 'Convergence Direct': 0.001,
 'Units': 'DEFAULT',
 'Water Temperature': 10.0,
 'Convergence Flow': 0.01,
 'Convergence Head': 0.01,
 'Mathematical Damping': 0.7,
 'Pivotal Choice': 0.1,
 'Under-relaxation': 0.7,
 'Matrix Dummy': 0.0,
 'RAD File': ''}

Let's see what's in the network file. The various units can be accessed via the attributes "`.sections .conduits .structures .boundaries .losses`" This dat file only contains rivers, a bridge and two boundaries units. Lets have a look at what information we have in the sections data.

In [3]:
ex3_dat.sections

{'m60': <floodmodeller_api Unit Class: RIVER(name=m60, type=SECTION)>,
 'm40': <floodmodeller_api Unit Class: RIVER(name=m40, type=SECTION)>,
 'm20': <floodmodeller_api Unit Class: RIVER(name=m20, type=SECTION)>,
 '0': <floodmodeller_api Unit Class: RIVER(name=0, type=SECTION)>,
 '20': <floodmodeller_api Unit Class: RIVER(name=20, type=SECTION)>,
 '40': <floodmodeller_api Unit Class: RIVER(name=40, type=SECTION)>,
 '60': <floodmodeller_api Unit Class: RIVER(name=60, type=SECTION)>,
 '80': <floodmodeller_api Unit Class: RIVER(name=80, type=SECTION)>,
 'BRIDU': <floodmodeller_api Unit Class: RIVER(name=BRIDU, type=SECTION)>,
 'BRIDD': <floodmodeller_api Unit Class: RIVER(name=BRIDD, type=SECTION)>,
 '120': <floodmodeller_api Unit Class: RIVER(name=120, type=SECTION)>,
 '140': <floodmodeller_api Unit Class: RIVER(name=140, type=SECTION)>,
 '160': <floodmodeller_api Unit Class: RIVER(name=160, type=SECTION)>,
 '180': <floodmodeller_api Unit Class: RIVER(name=180, type=SECTION)>,
 '200': <floodmodeller_api Unit Class: RIVER(name=200, type=SECTION)>,
 '220': <floodmodeller_api Unit Class: RIVER(name=220, type=SECTION)>,
 '240': <floodmodeller_api Unit Class: RIVER(name=240, type=SECTION)>,
 '260': <floodmodeller_api Unit Class: RIVER(name=260, type=SECTION)>,
 '280': <floodmodeller_api Unit Class: RIVER(name=280, type=SECTION)>,
 '300': <floodmodeller_api Unit Class: RIVER(name=300, type=SECTION)>,
 '320': <floodmodeller_api Unit Class: RIVER(name=320, type=SECTION)>,
 '340': <floodmodeller_api Unit Class: RIVER(name=340, type=SECTION)>,
 '360': <floodmodeller_api Unit Class: RIVER(name=360, type=SECTION)>,
 '380': <floodmodeller_api Unit Class: RIVER(name=380, type=SECTION)>,
 '400': <floodmodeller_api Unit Class: RIVER(name=400, type=SECTION)>,
 '420': <floodmodeller_api Unit Class: RIVER(name=420, type=SECTION)>,
 '440': <floodmodeller_api Unit Class: RIVER(name=440, type=SECTION)>,
 '460': <floodmodeller_api Unit Class: RIVER(name=460, type=SECTION)>,
 '480': <floodmodeller_api Unit Class: RIVER(name=480, type=SECTION)>,
 '500': <floodmodeller_api Unit Class: RIVER(name=500, type=SECTION)>,
 '520': <floodmodeller_api Unit Class: RIVER(name=520, type=SECTION)>,
 '540': <floodmodeller_api Unit Class: RIVER(name=540, type=SECTION)>,
 '560': <floodmodeller_api Unit Class: RIVER(name=560, type=SECTION)>,
 '580': <floodmodeller_api Unit Class: RIVER(name=580, type=SECTION)>,
 '600': <floodmodeller_api Unit Class: RIVER(name=600, type=SECTION)>,
 '620': <floodmodeller_api Unit Class: RIVER(name=620, type=SECTION)>,
 '640': <floodmodeller_api Unit Class: RIVER(name=640, type=SECTION)>,
 '660': <floodmodeller_api Unit Class: RIVER(name=660, type=SECTION)>,
 '680': <floodmodeller_api Unit Class: RIVER(name=680, type=SECTION)>,
 '700': <floodmodeller_api Unit Class: RIVER(name=700, type=SECTION)>}

Each individual unit class is somewhat unique in how they can be worked with in python, but generally most unit classes will have a .name, .comment and .data attribute. For example, a RIVER unit class contains the full section data as a dataframe:

In [27]:
ex3_dat.sections['620'].data

,X,Y,Mannings n,Panel,RPL,Marker,Easting,Northing,Deactivation,SP. Marker
0,-31.667,10.326,0.04,False,1.0,,0.0,0.0,,0
1,-29.221,12.000,0.04,False,1.0,,0.0,0.0,,0
2,-28.070,12.000,0.04,False,1.0,,0.0,0.0,,0
3,-26.191,10.713,0.04,False,1.0,,0.0,0.0,,0
4,-12.375,10.591,0.04,False,1.0,,0.0,0.0,,0
5,-7.815,8.311,0.04,False,1.0,,0.0,0.0,,0
6,20.901,8.361,0.04,False,1.0,,0.0,0.0,,0
7,21.908,10.880,0.04,False,1.0,,0.0,0.0,,0
8,180.716,9.966,0.04,False,1.0,,0.0,0.0,,0
9,194.089,12.290,0.04,False,1.0,,0.0,0.0,,0

In [5]:
print(ex3_dat.sections['620'].dist_to_next) # print the distance to next section for river section '620'

20.0

You can manipulate many different aspects of the dat file such as the data for each cross section. This information is saved in a pandas dataframe.   
* see https://www.w3schools.com/python/pandas/default.asp for more on pandas and dataframes)   


Similarly to with list slicing, we can manipulate a subsection of the data using the `iloc` method where the square brackets reference ['row','column'].   
The following cell looks at the section data for the river unit 620 and updates the mannings n value to 0.1 for the fourth to seventh row.

In [31]:
ex3_dat.sections['620'].data.iloc[3:6, 2] = 0.1     
ex3_dat.sections['620'].data

,X,Y,Mannings n,Panel,RPL,Marker,Easting,Northing,Deactivation,SP. Marker
0,-31.667,10.326,0.04,False,1.0,,0.0,0.0,,0
1,-29.221,12.000,0.04,False,1.0,,0.0,0.0,,0
2,-28.070,12.000,0.04,False,1.0,,0.0,0.0,,0
3,-26.191,10.713,0.10,False,1.0,,0.0,0.0,,0
4,-12.375,10.591,0.10,False,1.0,,0.0,0.0,,0
5,-7.815,8.311,0.10,False,1.0,,0.0,0.0,,0
6,20.901,8.361,0.04,False,1.0,,0.0,0.0,,0
7,21.908,10.880,0.04,False,1.0,,0.0,0.0,,0
8,180.716,9.966,0.04,False,1.0,,0.0,0.0,,0
9,194.089,12.290,0.04,False,1.0,,0.0,0.0,,0

#### Walk-through excercise: Inserting a copied unit

Let's explore some of the various things you can accomplish with the Flood modeller API.   

Lets stick in a new cross section 10m downstream from 620 at 630.  
We'll need to first update the distance to next at 620, create a copy of the updated 620 unit, update the name and comment of the new unit and then add it back into the dat file in the correct location.

In [33]:
ex3_dat.sections['620'].dist_to_next = 10.0 # Update the distance to next section to 10m

We can copy objects in python and make changes to these however as we wish to create a copy of 620 and then update the information within the new 630 unit whilst keeping our original 620, a deepcopy will be best as this allows our new 630 unit to be saved to a new memory location and therefore we won't be overwriting the 620 unit.  
We can then make changes to both 630 and 620 without one affecting the other. Importing the `copy` module and calling `copy.deepcopy` will allow us to do this.

In [34]:
import copy 

unit_630 = copy.deepcopy(ex3_dat.sections['620']) #make a copy of the upstream node and save it as unit_630
print(unit_630.name)

620

In [35]:
unit_630.name = '630' #assign the new name for our unit
print(unit_630.name)

630

In [36]:
unit_630.comment = 'copy of upstream XS' #update the comment to reflect the origin of this cross section
unit_630.comment

'copy of upstream XS'

In [37]:
print(ex3_dat.sections['620']) #lets have a look at both units side by side to view how these differ 
print(unit_630)

RIVER 620.000    0.040
SECTION
620
    10.000            0.000100  1000.000
        10
   -31.667    10.326     0.040     1.000               0.000     0.000                   0
   -29.221    12.000     0.040     1.000               0.000     0.000                   0
   -28.070    12.000     0.040     1.000               0.000     0.000                   0
   -26.191    10.713     0.100     1.000               0.000     0.000                   0
   -12.375    10.591     0.100     1.000               0.000     0.000                   0
    -7.815     8.311     0.100     1.000               0.000     0.000                   0
    20.901     8.361     0.040     1.000               0.000     0.000                   0
    21.908    10.880     0.040     1.000               0.000     0.000                   0
   180.716     9.966     0.040     1.000               0.000     0.000                   0
   194.089    12.290     0.040     1.000               0.000     0.000                   0
RIVER copy of upstream XS
SECTION
630
    10.000            0.000100  1000.000
        10
   -31.667    10.326     0.040     1.000               0.000     0.000                   0
   -29.221    12.000     0.040     1.000               0.000     0.000                   0
   -28.070    12.000     0.040     1.000               0.000     0.000                   0
   -26.191    10.713     0.100     1.000               0.000     0.000                   0
   -12.375    10.591     0.100     1.000               0.000     0.000                   0
    -7.815     8.311     0.100     1.000               0.000     0.000                   0
    20.901     8.361     0.040     1.000               0.000     0.000                   0
    21.908    10.880     0.040     1.000               0.000     0.000                   0
   180.716     9.966     0.040     1.000               0.000     0.000                   0
   194.089    12.290     0.040     1.000               0.000     0.000                   0

In [38]:
ex3_dat.insert_unit(unit_630, add_after = ex3_dat.sections['620']) #insert unit after 620

ex3_dat.sections

{'m60': <floodmodeller_api Unit Class: RIVER(name=m60, type=SECTION)>,
 'm40': <floodmodeller_api Unit Class: RIVER(name=m40, type=SECTION)>,
 'm20': <floodmodeller_api Unit Class: RIVER(name=m20, type=SECTION)>,
 '0': <floodmodeller_api Unit Class: RIVER(name=0, type=SECTION)>,
 '20': <floodmodeller_api Unit Class: RIVER(name=20, type=SECTION)>,
 '40': <floodmodeller_api Unit Class: RIVER(name=40, type=SECTION)>,
 '60': <floodmodeller_api Unit Class: RIVER(name=60, type=SECTION)>,
 '80': <floodmodeller_api Unit Class: RIVER(name=80, type=SECTION)>,
 'BRIDU': <floodmodeller_api Unit Class: RIVER(name=BRIDU, type=SECTION)>,
 'BRIDD': <floodmodeller_api Unit Class: RIVER(name=BRIDD, type=SECTION)>,
 '120': <floodmodeller_api Unit Class: RIVER(name=120, type=SECTION)>,
 '140': <floodmodeller_api Unit Class: RIVER(name=140, type=SECTION)>,
 '160': <floodmodeller_api Unit Class: RIVER(name=160, type=SECTION)>,
 '180': <floodmodeller_api Unit Class: RIVER(name=180, type=SECTION)>,
 '200': <floodmodeller_api Unit Class: RIVER(name=200, type=SECTION)>,
 '220': <floodmodeller_api Unit Class: RIVER(name=220, type=SECTION)>,
 '240': <floodmodeller_api Unit Class: RIVER(name=240, type=SECTION)>,
 '260': <floodmodeller_api Unit Class: RIVER(name=260, type=SECTION)>,
 '280': <floodmodeller_api Unit Class: RIVER(name=280, type=SECTION)>,
 '300': <floodmodeller_api Unit Class: RIVER(name=300, type=SECTION)>,
 '320': <floodmodeller_api Unit Class: RIVER(name=320, type=SECTION)>,
 '340': <floodmodeller_api Unit Class: RIVER(name=340, type=SECTION)>,
 '360': <floodmodeller_api Unit Class: RIVER(name=360, type=SECTION)>,
 '380': <floodmodeller_api Unit Class: RIVER(name=380, type=SECTION)>,
 '400': <floodmodeller_api Unit Class: RIVER(name=400, type=SECTION)>,
 '420': <floodmodeller_api Unit Class: RIVER(name=420, type=SECTION)>,
 '440': <floodmodeller_api Unit Class: RIVER(name=440, type=SECTION)>,
 '460': <floodmodeller_api Unit Class: RIVER(name=460, type=SECTION)>,
 '480': <floodmodeller_api Unit Class: RIVER(name=480, type=SECTION)>,
 '500': <floodmodeller_api Unit Class: RIVER(name=500, type=SECTION)>,
 '520': <floodmodeller_api Unit Class: RIVER(name=520, type=SECTION)>,
 '540': <floodmodeller_api Unit Class: RIVER(name=540, type=SECTION)>,
 '560': <floodmodeller_api Unit Class: RIVER(name=560, type=SECTION)>,
 '580': <floodmodeller_api Unit Class: RIVER(name=580, type=SECTION)>,
 '600': <floodmodeller_api Unit Class: RIVER(name=600, type=SECTION)>,
 '620': <floodmodeller_api Unit Class: RIVER(name=620, type=SECTION)>,
 '640': <floodmodeller_api Unit Class: RIVER(name=640, type=SECTION)>,
 '660': <floodmodeller_api Unit Class: RIVER(name=660, type=SECTION)>,
 '680': <floodmodeller_api Unit Class: RIVER(name=680, type=SECTION)>,
 '700': <floodmodeller_api Unit Class: RIVER(name=700, type=SECTION)>,
 '630': <floodmodeller_api Unit Class: RIVER(name=630, type=SECTION)>}

In [ ]:
# check that 630 is after 640
ex3_dat.next(ex3_dat.sections['620'])

In [32]:
#save the new dat file - note you can overwrite the current dat file if you give the same file path as the current dat file.
ex3_dat.save("data/EX4.DAT")

DAT File Saved to: c:\Users\LAMBERD3\Documents\Python\Flood_modeller_git\floodmodeller-api\demo\data\EX4.DAT

#### Using and saving your own data

On the left of your screen, you should be able to see the explorer tab represented by an icon of two sheets. In here, your new file "EX4.dat" should have appeared under demo > data.    
You can also right click on a file and save it this way.   

You can also drag and drop any other file into the relevant space within the file explorer which you can then use within this codespace. This won't make your data public, it will still be private and secure to your github account.   

You can have a go at reading your own data in, make some changes and then save your updated file by `.save()` 

* Load your data into the file explorer on the left
* Make some changes to your file and save them.

In [ ]:
# Have a go here!

#### Other tasks with the DAT class

* Can you update the bed levels?
* Plot a graph of the x/y data? 
* How about looking at the bridge structure? you can look into the name, comment, ds-label, us_remote_label, ds_remote_label and the subtype?
* What is the type of the boundary units?

In [ ]:
# Have a go here!